@page "/misc/asynccollection"

<PageTitle>AsyncCollection</PageTitle>
<article class="demo-list">
    <Demo Title="AsyncCollection">
        <DemoSegment>
            Use <code>AsyncCollection</code> to create a collection that has yet to be retrieved, asynchronously.
            The collection implements <code>IAsyncEnumerable&lt;&gt;</code> and enables you to retrieve just a portion, ideal for page-based virtualization.
            The type also uses early caching to prevent duplicate data retrieval calls.
        </DemoSegment>
        <DemoSegment Resource="AsyncCollection/Usage.cs" />
        <DemoSegment>
            Note that <a href="/components/table"><code>&lt;Table /&gt;</code></a> requires an instance of <code>IAsyncCollection&lt;&gt;</code> as its datasource.
            This component works in tandem with <a href="/components/browse"><code>&lt;Browse /&gt;</code></a> to call <code>GetView</code> for pagination.
        </DemoSegment>
    </Demo>

    <Members SubjectType="typeof(AsyncCollection)" />
    <Members SubjectType="typeof(IAsyncCollection<>)" />
    <Members SubjectType="typeof(IAsyncValue<>)" />
</article>
