@page "/misc/asyncvalue"

<PageTitle>AsyncValue</PageTitle>
<article class="demo-list">
    <Demo Title="AsyncValue">
        <DemoSegment>
            Use <code>AsyncValue</code> to create an instance that has yet to be retrieved, asynchronously.
            The type uses early caching to prevent duplicate data retrieval calls.
        </DemoSegment>
        <DemoSegment Resource="AsyncValue/Usage.cs" />
        <DemoSegment>
            Note that <a href="/components/form"><code>&lt;Form /&gt;</code></a> and <a href="/components/load"><code>&lt;Load /&gt;</code></a> require an instance of <code>IAsyncValue&lt;&gt;</code> as their datasource.
        </DemoSegment>
    </Demo>

    <Members SubjectType="typeof(AsyncValue)" />
    <Members SubjectType="typeof(IAsyncValue<>)" />
</article>
