@page "/components/defer"

<PageTitle>Defer</PageTitle>
<article class="demo-list">
    <Demo Title="Defer">
        <DemoSegment>
            Surround your markup with <code>&lt;Defer /&gt;</code> to ensure that it's rendered after preceding Blazor routines.
        </DemoSegment>
        <DemoSegment>
            @Render
            <Defer>
                Reference is <code>@DivReference</code>.
            </Defer>
        </DemoSegment>
        <DemoSegment Resource="Defer/Usage.razor" />
    </Demo>

    <Members SubjectType="typeof(Defer)" />
</article>

@code {
    ElementReference DivReference;
    RenderFragment Render => @<div @ref="DivReference"></div>;
}
