@page "/components/form"

<PageTitle>Form</PageTitle>
<article>
    <h1>Form</h1>
    <p>
        Blabla verhaaltje
    </p>

    <section>
        <h3>Data Binding</h3>
        <p>
            Blabla verhaaltje
        </p>
        <Example Resource="Components\Form\DataBinding.razor" />
        <p>
            Blabla verhaaltje
        </p>
    </section>

    <section>
        <h3>Fields</h3>
        <p>
            Blabla verhaaltje
        </p>
        <Example Resource="Components\Form\ChoiceField.razor" />
        <p>
            Blabla verhaaltje
        </p>
        <Example Resource="Components\Form\DateTimeField.razor" />
        <p>
            Blabla verhaaltje
        </p>
        <Example Resource="Components\Form\SwitchField.razor" />
        <p>
            Blabla verhaaltje
        </p>
        <Example Resource="Components\Form\TextField.razor" />
        <p>
            Blabla verhaaltje
        </p>
        <Example Resource="Components\Form\Field.razor" />
    </section>
</article>
