@rendermode InteractiveServer
@page "/components/form"

<PageTitle>Form</PageTitle>
<h1>Form</h1>

<Form Subject="Book">
    <TextField Expression="book => book.Id" ReadOnly />
    <TextField Expression="book => book.Title" AutoFocus />
    <TextField Expression="book => book.Summary" MultiLine />
    <DateTimeField Expression="book => book.PublicationDate" Date />
</Form>

@code {
    readonly IAsyncValue<Book> Book = AsyncValue.Create(async () =>
    {
        await Task.Delay(1_000);
        var book = BookRepository.CreateRandom();
        Console.WriteLine($"Retrieved Book {{ Id = {book.Id} }}");
        return book;
    });
}
