@page "/"

<PageTitle>Foundation</PageTitle>
<article class="demo-list">
    <Demo Title="Foundation" UnderConstruction>
        <DemoSegment>
            Foundation is a light-weight component library for Blazor.
            <ul>
                <li>Has some easy-to-combine primitives like <a href="/components/browse"><code>&lt;Browse /&gt;</code></a> and <a href="/components/select"><code>&lt;Select /&gt;</code></a>.</li>
                <li>Contains feature-rich components like <a href="/components/chart"><code>&lt;Chart /&gt;</code></a> and <a href="/components/table"><code>&lt;Table /&gt;</code></a>.</li>
                <li>Also includes useful helpers like <a href="/misc/classlist"><code>ClassList</code></a> and <a href="/misc/script"><code>Script</code></a>.</li>
                <li>All render modes are supported.</li>
            </ul>
        </DemoSegment>
    </Demo>

    <Demo Title="Explore">
        <DemoSegment>
            Explore this demo app to see what's possible.
        </DemoSegment>
    </Demo>

    <Demo Title="Install">
        <DemoSegment>
            <i>There are no available NuGet packages (yet).</i>
        </DemoSegment>
    </Demo>
</article>
