@rendermode InteractiveServer
@page "/components/load"

<PageTitle>Load</PageTitle>
<h3>Styling</h3>
<div class="example">
    <Load Subject="Books" Context="books">
        <ul>
            <ForEach Items="books" Context="book">
                <li @key="book">@book.Title</li>
            </ForEach>
        </ul>
    </Load>
</div>

<h3>Loading Template</h3>
<div class="example">
    <ul>
        <Load Subject="Books" Context="books">
            <Loaded>
                <ForEach Items="books" Context="book">
                    <li @key="book">@book.Title</li>
                </ForEach>
            </Loaded>
            <Loading>
                <li>Loading...</li>
            </Loading>
        </Load>
    </ul>
</div>

@code {
    readonly IAsyncValue<Book[]> Books = AsyncValue.Create(async () =>
    {
        await Task.Delay(2_000);

        var books = BookRepository.CreateRange(1, 5);
        Console.WriteLine($"Retrieved Book[{books.Length}]");
        return books;
    });
}
