@rendermode InteractiveServer
@page "/components/respond"

<PageTitle>Respond</PageTitle>
<article class="demo-list">
    <Demo Title="Respond">
        <DemoSegment>
            Show content dependent on available size with the <code>&lt;Respond /&gt;</code> component.
        </DemoSegment>
        <DemoSegment>
            <h5>Active sizes</h5>
            <ul>
                <Respond Condition="size => size.Width < 480">
                    <li><code>Size &lt; Small (Phone &amp; Tablet)</code></li>
                </Respond>
                <Respond Condition="size => size.Width >= 480">
                    <li><code>Size &ge; Small (Phone &amp; Tablet)</code></li>
                </Respond>
                <Respond Condition="size => size.Width >= 768">
                    <li><code>Size &ge; Medium (Laptops)</code></li>
                </Respond>
                <Respond Condition="size => size.Width >= 1280">
                    <li><code>Size &ge; Large (Desktops)</code></li>
                </Respond>
            </ul>
        </DemoSegment>
        <DemoSegment Resource="Respond/Usage.razor" />
    </Demo>

    <Members SubjectType="typeof(Respond)" />
</article>

@code {
    ElementReference DivReference;
    RenderFragment Render => @<div @ref="DivReference"></div>;
}
