@page "/misc/script"

<PageTitle>Script</PageTitle>
<article class="demo-list">
    <Demo Title="Script">
        <DemoSegment>
            Use <code>ScriptAttribute</code> to create analogues of JS files that will be loaded lazily.
            This will generate your class that extends <code>Script</code>.
        </DemoSegment>
        <DemoSegment Resource="Script/Definition.cs" />
        <DemoSegment>
            Register you scripts like this.
        </DemoSegment>
        <DemoSegment Resource="Script/Registration.cs" />
        <DemoSegment>
            Simply inject your script and use it like this. Note that rendering has to be complete, so don't use your script before <code>OnAfterRender</code> is invoked.
        </DemoSegment>
        <DemoSegment Resource="Script/Usage.razor" />
        <DemoSegment>
            Note that by inheriting from <a href="/components/component"><code>&lt;Component /&gt;</code></a>, you gain commonly used properties like <code>CancellationToken</code> and <code>ComponentReference</code>.
        </DemoSegment>
    </Demo>

    <Members SubjectType="typeof(Script)" />
    <Members SubjectType="typeof(ScriptAttribute)" />
</article>
