@page "/misc/selection"

<PageTitle>Selection</PageTitle>
<article class="demo-list">
    <Demo Title="Selection">
        <DemoSegment>
            You can use <code>Selection</code> to control a component's selection behavior and hold its selection data.
            Look at the <a href="/components/table"><code>&lt;Table /&gt;</code></a> example for how this can be used.
        </DemoSegment>
        <DemoSegment Resource="Selection/Usage.cs" />
        <DemoSegment>
            Note that <code>ISelection&lt;&gt;</code> can also be used outside of a component's context.
        </DemoSegment>
    </Demo>
</article>
