@rendermode InteractiveServer
@page "/components/table"

<PageTitle>Table</PageTitle>

<h3>Persistent Browsing &amp; Selection</h3>
<Browse PageSize="15" Persist>
    <Select Selection="SelectedBooks">
        <Table Items="Books">
            <Column Expression="book => book.Id" AlignEnd />
            <Column Expression="book => book.Title" Fill />
            <Column Expression="book => book.PublicationDate" AlignEnd />
        </Table>
    </Select>
</Browse>

@code {
    readonly ISelection<Book> SelectedBooks = Selection.Multiple<Book>();

    static readonly Book[] AllBooks = BookRepository.CreateRange(1, 100);
    readonly IAsyncCollection<Book> Books = AsyncCollection.Create(async page =>
    {
        await Task.Delay(1_000);

        var books = AllBooks.Skip(page.Skip).Take(page.Take).ToArray();
        Console.WriteLine($"Retrieved Book[{books.Length}] for {page}");
        return books;
    });
}
