@rendermode InteractiveServer
@page "/components/table"

<PageTitle>Table</PageTitle>
<h1>Table</h1>

<h3>Selection &amp; Pagination</h3>
<Selector Selection="SelectedBooks">
    <Pager PageSize="15">
        <Table Items="Books">
            <Column Expression="book => book.Id" AlignEnd />
            <Column Expression="book => book.Title" Fill />
            <Column Expression="book => book.PublicationDate" AlignEnd />
        </Table>
    </Pager>
</Selector>

@code {
    readonly ISelection<Book> SelectedBooks = Selection.Multiple<Book>();

    static readonly Book[] AllBooks = BookRepository.CreateRange(1, 100);
    readonly IAsyncCollection<Book> Books = AsyncCollection.Create(async page =>
    {
        await Task.Delay(1_000);

        var books = AllBooks.Skip(page.Skip).Take(page.Take).ToArray();
        Console.WriteLine($"Retrieved Book[{books.Length}] for {page}");
        return books;
    });
}
