@rendermode InteractiveServer
@page "/components/table"

<PageTitle>Table</PageTitle>
<h1>Table</h1>

<Selector Selection="SelectedBooks">
    <Pager>
        <Table Items="Books">
            <Column Expression="book => book.Id" />
            <Column Expression="book => book.Title" />
            <Column Expression="book => book.PublicationDate" />
        </Table>
    </Pager>
</Selector>

@code {
    readonly ISelection<Book> SelectedBooks = Selection.Multiple<Book>();
    readonly IAsyncCollection<Book> Books = AsyncCollection.Create(async query =>
    {
        if (query.Skip < 100)
        {
            await Task.Delay(1_000);
            return BookRepository.CreateRange(query.Skip ?? 0, query.Take ?? 10);
        }

        return [];
    });
}
