@typeparam TItem
@typeparam TValue where TValue : INumber<TValue>
@inherits Component

<div class="chart @ChartClass" style="@ChartStyle">
    <Load Subject="Entities" Context="entities" @ref="Load">
        <ForEach Items="entities" Context="entity">
            <div class="entity" style="@entity.Style" @key="entity">@entity.Value</div>
        </ForEach>
    </Load>
</div>

@code {
    readonly StyleList ChartStyle = new();
    readonly IAsyncValue<ChartEntity[]> Entities;

    IDisposable? ItemsSubscription;
    Load<ChartEntity[]>? Load;

    public Chart() => Entities = AsyncValue.Create(async () =>
    {
        var items = await Items!.GetValue(CancellationToken);
        return items.Select(item => new ChartEntity(item, Value!(item))).ToArray();
    });

    [Parameter, EditorRequired] public required IAsyncValue<TItem[]> Items { get; set; }
    [Parameter, EditorRequired] public required Func<TItem, TValue> Value { get; set; }
    [Parameter] public ChartType Type { get; set; } = ChartType.Bar;
    [Parameter] public TValue Maximum { get; set; } = TValue.Zero;

    ClassList ChartClass => new ClassList().Add("bar", Type == ChartType.Bar);

    protected override void OnInitialized()
    {
        if (RendererInfo.IsInteractive)
        {
            ItemsSubscription = Items.Subscribe(_ => Entities.Reset());
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var entities = await Entities.GetValue();

            ChartStyle.Remove("--max-value");
            ChartStyle.Add("--max-value", Maximum > TValue.Zero ? Maximum : entities.Select(e => e.Value).Max());
            StateHasChanged();
        }
    }

    protected override void OnDisposing()
        => ItemsSubscription?.Dispose();

    sealed record ChartEntity(TItem Item, TValue Value)
    {
        public StyleList Style { get; } = new StyleList().Add("--value", Value);
    }
}
