@inherits Component
@typeparam TItem

@code {
    Func<TItem, object?>? CompiledExpression;

    [CascadingParameter] Table<TItem>? Table { get; set; }
    [Parameter] public RenderFragment<TItem>? Cell { get; set; }
    [Parameter] public RenderFragment<TItem>? ChildContent { get; set; }
    [Parameter] public Expression<Func<TItem, object?>>? Expression { get; set; }
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public string? Title { get; set; }

    protected override void OnInitialized()
        => Table?.AddColumn(this);

    protected override void OnParametersSet()
    {
        CompiledExpression ??= Expression?.Compile();
        Title ??= Expression?.GetPropertyOrDefault()?.Name.Humanize(LetterCasing.Title);

        Cell ??= ChildContent ?? (CompiledExpression is { } compiledExpression ? item => @<span>@compiledExpression(item)</span> : null);
        Header ??= Title is { Length: > 0 } title ? @<span>@title</span> : null;
    }
    
    protected override void OnDisposing()
        => Table?.RemoveColumn(this);
}
