@attribute [CascadingTypeParameter(nameof(TModel))]
@inherits FormField<TModel>
@typeparam TModel

<div class="form-field text">
    <label>@Title</label>
    <InputText @bind-Value="EditorValue" />
    @if (ValueExpression is { } valueExpression)
    {
        <ValidationMessage For="valueExpression" />
    }
</div>

@code {
    string? EditorValue
    {
        get => Convert.ChangeType(Value, typeof(string)) as string;
        set => Value = ValueProperty is { PropertyType: { } propertyType } ? Convert.ChangeType(value, propertyType) : value;
    }
}
