@attribute [CascadingTypeParameter(nameof(TSubject))]
@typeparam TSubject

<div class="form">
</div>

@code {
    [Parameter, EditorRequired] public required IAsyncValue<TSubject> Subject { get; set; }
}
