@attribute [CascadingTypeParameter(nameof(TSubject))]
@typeparam TSubject

<form class="form">
</form>

@code {
    [Parameter, EditorRequired] public required IAsyncValue<TSubject> Subject { get; set; }
}
