@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject IAuthorRepository AuthorRepository
@inject IGenreRepository GenreRepository
@inject IBookRepository BookRepository
@page "/books/{id:int}"
@page "/books/new"

<Form Context="Book" OnCommit="CommitChanges">
    <Flex Vertical>
        <TextField Expression="book => book.Id" Visible="Id is not null" readonly />
        <TextField Expression="book => book.Name" AutoFocus />
        <DateTimeField Expression="book => book.PublishDate" Date />
        <ChoiceField Expression="book => book.Author" Items="Authors">
            <ExpressionColumn Expression="author => author.Id" />
            <ExpressionColumn Expression="author => author.Name" />
        </ChoiceField>
        <ChoiceField Expression="book => book.Genres" Items="Genres" />

        <Flex Horizontal>
            <button type="submit">Save changes</button>
            <button type="button">Cancel</button>
        </Flex>
    </Flex>
</Form>

@code {
    readonly IAsyncCollection<AuthorItem> Authors;
    readonly IAsyncCollection<Genre> Genres;
    readonly IAsyncValue<BookDetail> Book;

    public BookPage()
    {
        Authors = AsyncCollection.Create((transform, ct) => AuthorRepository.GetAuthors(transform, ct));
        Genres = AsyncCollection.Create((transform, ct) => GenreRepository.GetGenres(transform, ct));
        Book = AsyncValue.Create(async ct => Id is { } id ? await BookRepository.GetBook(id, ct) : BookDetail.CreateNew());
    }

    [Parameter] public int? Id { get; set; }

    Task CommitChanges(BookDetail book) => Id is { } id
        ? BookRepository.UpdateBook(id, book)
        : BookRepository.CreateBook(book);
}
