@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject IBookRepository BookRepository
@page "/books"

<Transform Query="new(Page: new(Take: 20))">
    <Table Items="Books">
        <Respond Condition="bounds => bounds.Width >= 768">
            <ExpressionColumn Expression="book => book.Author" Position="0" />
        </Respond>
        <ExpressionColumn Expression="book => book.Name" Fill>
            <a href="/books/@context.Id">@context.Name</a>
        </ExpressionColumn>
        <Column>
            <a href="#">Delete</a>
        </Column>
    </Table>

    <Browse>
        <a href="/books/new">Create New...</a>
    </Browse>
</Transform>

@code {
    readonly IAsyncCollection<BookItem> Books;
    public BooksPage()
        => Books = AsyncCollection.Create((transform, ct) => BookRepository.GetBooks(transform, ct));
}
