@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject IBookRepository BookRepository
@page "/books"

<Transform Query="new(Page: new(Skip: 0, Take: 20))">
    <Table Items="Books">
        <Respond Condition="bounds => bounds.Width >= 768">
            <ExpressionColumn Expression="book => book.Author" Position="0" />
        </Respond>
        <ExpressionColumn Expression="book => book.Name" Fill />
        <TemplateColumn>
            <a href="/books/@context.Id">Detail</a>
        </TemplateColumn>
    </Table>
</Transform>

<div class="page-commands">
    <NavLink href="/books/new">Create New...</NavLink>
</div>

@code {
    readonly IAsyncCollection<BookItem> Books;
    public BooksPage()
        => Books = AsyncCollection.Create((transform, ct) => BookRepository.GetBooks(transform, ct));
}
