@rendermode @(new InteractiveServerRenderMode(prerender: false))
@page "/"

<PageTitle>Home</PageTitle>
<Menu Title="Koffiezetapparaten" @ref="CoffeeMenu">
    <MenuItem Title="Henk" Pressed="OnItemPressed" HideMenuTitle>
        <MenuItem Title="Henk de Tweede" Pressed="OnItemPressed" />
    </MenuItem>
    <MenuItem Title="Joop" Pressed="OnItemPressed" />
    <MenuItem Title="Kees" />
    <Separator />
    <MenuItem Title="Zusjes">
        <Load Value="Sisters" Context="sisters">
            <ForEach Items="sisters" Context="sister">
                <MenuItem Title="@sister" Pressed="OnItemPressed" @key="sister" />
            </ForEach>
        </Load>
    </MenuItem>
</Menu>

<Menu Title="Worstsoorten" @ref="SausageMenu">
    <MenuItem Title="Droge worst">
        <MenuItem Title="Drentse" Pressed="OnItemPressed" />
        <MenuItem Title="Friese" Pressed="OnItemPressed" Persistent />
        <MenuItem Title="Groningse" Pressed="OnItemPressed" />
        <MenuItem Title="Twentse" />
    </MenuItem>
    <MenuItem Title="Franse" HideMenuTitle>
        <Load Value="FrenchSausages" Context="sausages">
            <ForEach Items="sausages" Context="sausage">
                <MenuItem Title="@sausage" Pressed="OnItemPressed" @key="sausage" />
            </ForEach>
        </Load>
    </MenuItem>
    <MenuItem Title="Spaanse">
        <MenuItem Title="Fuet" />
    </MenuItem>
</Menu>

<h3>Contextmenu Trigger</h3>
<div class="menu-trigger" @oncontextmenu="ShowCoffeeMenu" @oncontextmenu:preventDefault="true" @oncontextmenu:stopPropagation="true">
    <div class="menu-trigger-sub" @oncontextmenu="ShowSausageMenu" @oncontextmenu:preventDefault="true" @oncontextmenu:stopPropagation="true" />
</div>

@code {
    readonly IAsyncValue<string[]> FrenchSausages = AsyncValue.Create(async _ =>
    {
        await Task.Delay(500);
        return new string[] { "Knoflook", "Naturel", "Peper" };
    });

    readonly IAsyncValue<string[]> Sisters = AsyncValue.Create(async _ =>
    {
        await Task.Delay(1000);
        return new string[] { "Bertha", "Diewertje", "Hanneke" };
    });

    Menu? CoffeeMenu;
    Task ShowCoffeeMenu(MouseEventArgs e)
        => CoffeeMenu?.Show(e.ClientX, e.ClientY) ?? Task.CompletedTask;

    Menu? SausageMenu;
    Task ShowSausageMenu(MouseEventArgs e)
        => SausageMenu?.Show(e.ClientX, e.ClientY) ?? Task.CompletedTask;

    Task OnItemPressed() => Task.CompletedTask;
}
