@rendermode @(new InteractiveServerRenderMode(prerender: false))
@page "/"

<PageTitle>Home</PageTitle>
<Menu Title="Koffiezetapparaten" @ref="CoffeeMenu">
    <MenuItem Title="Henk" Pressed="OnItemPressed" HideTitle>
        <MenuItem Title="Henk de Tweede" Pressed="OnItemPressed" />
    </MenuItem>
    <MenuItem Title="Joop" Pressed="OnItemPressed" />
    <MenuItem Title="Kees" />
    <MenuItem Title="Zusjes">
        <MenuItem Title="Bertha" Pressed="OnItemPressed" />
        <MenuItem Title="Diewertje" />
        <MenuItem Title="Hanneke" Pressed="OnItemPressed" />
    </MenuItem>
</Menu>

<Menu Title="Worstsoorten" @ref="SausageMenu">
    <MenuItem Title="Droge worst">
        <MenuItem Title="Drentse" Pressed="OnItemPressed" />
        <MenuItem Title="Friese" Pressed="OnItemPressed" Persistent />
        <MenuItem Title="Groningse" Pressed="OnItemPressed" />
        <MenuItem Title="Twentse" />
    </MenuItem>
    <MenuItem Title="Franse" HideTitle>
        <MenuItem Title="Knoflook" Pressed="OnItemPressed" />
        <MenuItem Title="Naturel" Pressed="OnItemPressed" />
        <MenuItem Title="Peper" Pressed="OnItemPressed" />
    </MenuItem>
    <MenuItem Title="Spaanse">
        <MenuItem Title="Fuet" />
    </MenuItem>
</Menu>

<h3>Contextmenu Trigger</h3>
<div class="menu-trigger" @oncontextmenu="ShowCoffeeMenu" @oncontextmenu:preventDefault="true" @oncontextmenu:stopPropagation="true">
    <div class="menu-trigger-sub" @oncontextmenu="ShowSausageMenu" @oncontextmenu:preventDefault="true" @oncontextmenu:stopPropagation="true" />
</div>

@code {
    Menu? CoffeeMenu;
    Task ShowCoffeeMenu(MouseEventArgs e)
        => CoffeeMenu?.Show(e.ClientX, e.ClientY) ?? Task.CompletedTask;

    Menu? SausageMenu;
    Task ShowSausageMenu(MouseEventArgs e)
        => SausageMenu?.Show(e.ClientX, e.ClientY) ?? Task.CompletedTask;

    Task OnItemPressed() => Task.CompletedTask;
}
