@page "/"
@rendermode InteractiveServer
@implements IDisposable
@inject ICommandDispatcher Dispatcher
@inject IState<ProductList> State

<PageTitle>Products</PageTitle>
@if (State.Model.Loading)
{
    <p>Loading...</p>
}
else
{
    @foreach (var product in State.Model.Products)
    {
        <p>@product</p>
    }
}

@code {
    readonly StateSubscriptions Subscriptions = new();

    protected override void OnInitialized()
        => Subscriptions.Add(State, async _ => await InvokeAsync(StateHasChanged), emitImmediately: true);

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Dispatcher.Dispatch(new LoadProducts(Skip: 0, Take: 50));
        }
    }

    void IDisposable.Dispose()
        => Subscriptions.Dispose();
}
