@page "/components/form"

<PageTitle>Form</PageTitle>
<article>
    <h1>Form</h1>
    <p>
        Blabla verhaaltje
    </p>

    <section>
        <h3>Data Binding</h3>
        <p>
            Blabla verhaaltje
        </p>
        <pre><code>Codevoorbeeld<br />Meerdere regels</code></pre>
        <p>
            Blabla verhaaltje
        </p>
    </section>

    <section>
        <h3>Fields</h3>
        <p>
            Blabla verhaaltje
        </p>
        <pre><code>Codevoorbeeld<br />Meerdere regels</code></pre>
        <p>
            Blabla verhaaltje
        </p>
        <pre><code>Codevoorbeeld<br />Meerdere regels</code></pre>
        <p>
            Blabla verhaaltje
        </p>
        <pre><code>Codevoorbeeld<br />Meerdere regels</code></pre>
        <p>
            Blabla verhaaltje
        </p>
        <pre><code>Codevoorbeeld<br />Meerdere regels</code></pre>
        <p>
            Blabla verhaaltje
        </p>
    </section>
</article>
