<Load Subject="Books" Context="books">
    <ul>
        <ForEach Items="books" Context="book">
            <li @key="book">@book.Title</li>
        </ForEach>
    </ul>
</Load>

@code {
    readonly IAsyncValue<Book[]> Books = AsyncValue.Create(...);
}
