@inherits Component

<div class="browse">
    <div class="browse-content">
        @ChildContent
    </div>
    <div class="browse-commands">
        @if (Page is { } currentPage)
        {
            <Button Pressed="() => MoveToFirstPage(currentPage)"><span>&laquo;</span></Button>
            <Button Pressed="() => MoveToPreviousPage(currentPage)"><span>&lsaquo;</span></Button>
            <span>@(Page.Skip + 1) - @(Page.Skip + Page.Take)</span>
            <Button Pressed="() => MoveToNextPage(currentPage)"><span>&rsaquo;</span></Button>
            <Button disabled><span>&raquo;</span></Button>
        }
    </div>
</div>

@code {
    Page? Page;

    [CascadingParameter] Transform? Transform { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
        => Page = Transform?.Query?.Page;

    void MoveToFirstPage(Page page)
        => Transform?.SetPage(page with { Skip = 0 });
    
    void MoveToPreviousPage(Page page)
        => Transform?.SetPage(page with { Skip = Math.Max(0, page.Skip - page.Take) });
    
    void MoveToNextPage(Page page)
        => Transform?.SetPage(page with { Skip = page.Skip + page.Take });
}
