<button type="@ButtonType" @onclick="Pressed">
    @ChildContent
</button>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Commit { get; set; }
    [Parameter] public bool Discard { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Pressed { get; set; }

    string ButtonType => (Commit, Discard) switch
    {
        (true, false) => "submit",
        _ => "button"
    };
}
