@inherits Field<TContext>
@implements IAsyncDisposable
@inject ChoiceFieldScript Script
@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TContext where TContext : class
@typeparam TItem

@if (Visible)
{
    <div class="field">
        <label>@Title</label>
        <Focus Enabled="AutoFocus">
            <button @attributes="Attributes" @onclick="ShowPopover" @ref="TriggerReference">@DisplayValue</button>
        </Focus>
        <div popover="hint" @ref="PopoverReference">
            @if (TableVisible)
            {
                <Table ChildContent="ChildContent" Provider="Provider" />
            }
        </div>
        @if (ValidationExpression is { } validationExpression)
        {
            <ValidationMessage For="validationExpression" />
        }
    </div>
}

@code {
    readonly DotNetObjectReference<ChoiceField<TContext, TItem>> ComponentReference;

    bool PopoverOpen;
    bool TableVisible;
    string? DisplayValue;
    ElementReference PopoverReference;
    ElementReference TriggerReference;
    Expression<Func<TItem>>? ValidationExpression;

    public ChoiceField()
        => ComponentReference = DotNetObjectReference.Create(this);

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public Func<TItem, string?> DisplayItem { get; set; } = GetDefaultDisplayItem();
    [Parameter, EditorRequired] public required Expression<Func<TContext, TItem>> Expression { get; set; }
    [Parameter] public CollectionProviderDelegate<TItem>? Provider { get; set; }

    [JSInvokable]
    public Task OnPopoverToggled(bool open)
    {
        PopoverOpen = open;
        return InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Script.Attach(PopoverReference, ComponentReference);
        }
    }

    protected override void OnParametersSet()
    {
        if (Expression.GetPropertyOrDefault() is { CanRead: true } property)
        {
            Title ??= property.Name.Humanize(LetterCasing.Title);
            if (Context is { } context)
            {
                DisplayValue = property.GetValue(context) is TItem item ? DisplayItem(item) : null;
                ValidationExpression = Expression.WithoutContextParameter(context);
            }
        }
    }

    protected override void OnDisposed()
        => ComponentReference.Dispose();

    async Task HidePopover()
    {
        if (PopoverOpen)
        {
            await Script.HidePopover(PopoverReference);
        }
    }

    async Task ShowPopover()
    {
        if (!PopoverOpen)
        {
            TableVisible = true;
            await Script.ShowPopover(PopoverReference, TriggerReference);
        }
    }

    ValueTask IAsyncDisposable.DisposeAsync()
        => Script.Detach(PopoverReference);

    static Func<TItem, string?> GetDefaultDisplayItem()
    {
        if (typeof(TItem).GetCustomAttribute<DisplayColumnAttribute>() is { DisplayColumn: { Length: > 0 } displayColumn })
        {
            var property = typeof(TItem).GetProperty(displayColumn);
            return item => property?.GetValue(item) as string;
        }

        return item => item?.ToString();
    }
}
