@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TContext where TContext : notnull
@typeparam TItem where TItem : notnull
@inject ChoiceFieldScript Script
@inherits Field<TContext>

@if (Visible)
{
    <div class="field choice">
        @RenderLabel()
        <div class="field-value @ValueClass">
            <button type="button" @attributes="Attributes" @onclick="ShowPopover" @ref="TriggerReference">
                @if (EditorValue is { Length: > 0 } value)
                {
                    @value
                }
                else
                {
                    <i>Nothing selected</i>
                }
            </button>
            <div popover="hint" @ref="PopoverReference">
                @if (TableVisible)
                {
                    <Select Selection="ActiveSelection">
                        <Table Content="Content" Empty="Empty" Items="Items" />
                    </Select>
                }
            </div>
        </div>

        @if (Form is { DisplayContext: { } context })
        {
            @RenderValidationMessage(context)
        }
    </div>
}

@code {
    readonly DotNetObjectReference<ChoiceField<TContext, TItem>> ComponentReference;
    ISelection<TItem>? ActiveSelection;
    ElementReference PopoverReference;
    ElementReference TriggerReference;
    bool TableVisible;
    bool PopoverOpen;

    public ChoiceField()
        => ComponentReference = DotNetObjectReference.Create(this);

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public Func<TItem, string?>? DisplayItem { get; set; }
    [Parameter] public RenderFragment? Empty { get; set; }
    [Parameter] public IAsyncCollection<TItem>? Items { get; set; }

    string EditorValue => string.Join(", ", ActiveSelection?.Select(DisplayItem ?? (item => item.ToString())) ?? []);
    ClassList ValueClass => ClassList.Create("focus", PopoverOpen);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (AutoFocus)
            {
                await TriggerReference.FocusAsync();
            }

            await Script.Attach(PopoverReference, ComponentReference);
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (ActiveSelection is { } prevSelection)
        {
            prevSelection.CollectionChanged -= OnActiveSelectionChanged;
        }

        var selection = ActiveSelection = CreateSelection(ValueProperty?.PropertyType, Value);
        if (selection is not null)
        {
            selection.CollectionChanged += OnActiveSelectionChanged;
        }

        Content ??= ChildContent;
        DisplayItem ??= CreateDefaultDisplayItem();
    }

    async void OnActiveSelectionChanged(object? sender, NotifyCollectionChangedEventArgs e)
    {
        Value = DetermineValue(sender as ISelection<TItem>, Value);
        await InvokeAsync(async () =>
        {
            if (ActiveSelection is { Multiple: false })
            {
                await HidePopover();
            }

            StateHasChanged();
        });
    }

    [JSInvokable]
    public Task OnPopoverToggled(bool open)
    {
        PopoverOpen = open;
        return InvokeAsync(StateHasChanged);
    }

    async Task ShowPopover()
    {
        if (!PopoverOpen)
        {
            TableVisible = true;
            await Script.ShowPopover(PopoverReference, TriggerReference);
        }
    }

    async Task HidePopover()
    {
        if (PopoverOpen)
        {
            await Script.HidePopover(PopoverReference);
        }
    }

    protected override async ValueTask OnDisposedAsync()
    {
        if (ActiveSelection is { } selection)
        {
            selection.CollectionChanged -= OnActiveSelectionChanged;
        }

        await Script.Detach(PopoverReference);
        ComponentReference.Dispose();
    }

    static Func<TItem, string?> CreateDefaultDisplayItem()
    {
        if (typeof(TItem).GetCustomAttribute<DisplayColumnAttribute>() is { DisplayColumn: { Length: > 0 } displayColumn })
        {
            var property = typeof(TItem).GetProperty(displayColumn);
            return item => property?.GetValue(item) as string;
        }

        return item => item?.ToString();
    }

    static ISelection<TItem>? CreateSelection(Type? valueType, object? value) => (valueType, value) switch
    {
        (_, IEnumerable<TItem> items) => Selection.Multiple(items),
        (_, TItem item) => Selection.Single([item]),
        ({ } type, _) when type.IsAssignableTo(typeof(IEnumerable<>).MakeGenericType([typeof(TItem)])) => Selection.Multiple<TItem>(),
        ({ } type, _) when type.IsAssignableTo(typeof(TItem)) => Selection.Single<TItem>(),
        _ => null
    };

    static object? DetermineValue(ISelection<TItem>? selection, object? value) => (selection, value) switch
    {
        ({ Multiple: true }, ICollection<TItem> collection) => UpdateCollection(collection, selection),
        ({ Multiple: true }, _) => selection.ToArray(),
        ({ Multiple: false }, _) => selection.Cursor,
        _ => value
    };

    static ICollection<TItem> UpdateCollection(ICollection<TItem> collection, ISelection<TItem> selection)
    {
        var originalCollection = collection.ToArray();
        foreach (var item in originalCollection.Except(selection))
        {
            collection.Remove(item);
        }

        foreach (var item in selection.Except(originalCollection))
        {
            collection.Add(item);
        }

        return collection;
    }
}
