.field {
    display: flex;
    flex-direction: column;
}

.field-value {
    display: grid;
    grid-template-columns: 1fr;
}

    .field-value [popover] {
        inset: unset;
        left: calc(anchor(start));
        overflow: hidden;
        position: absolute;
        top: calc(anchor(bottom));
        width: calc(anchor-size(width));
    }
