@inherits Field<TContext>
@implements IAsyncDisposable
@inject ChoiceFieldScript Script
@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TContext where TContext : class
@typeparam TItem

@if (Visible)
{
    <div class="field">
        <label>@Title</label>
        <Focus Enabled="AutoFocus">
            <button @attributes="Attributes" @onclick="ShowPopover" @ref="TriggerReference">@DisplayValue</button>
            <div popover="hint" @ref="PopoverReference">
                @if (TableVisible)
                {
                    <Selector Selection="Selection">
                        <Table ChildContent="ChildContent" Provider="Provider" />
                    </Selector>
                }
            </div>
        </Focus>

        @if (ValidationExpression is { } validationExpression)
        {
            <ValidationMessage For="validationExpression" />
        }
    </div>
}

@code {
    readonly DotNetObjectReference<ChoiceField<TContext, TItem>> ComponentReference;

    bool PopoverOpen;
    bool TableVisible;
    string? DisplayValue;
    ISelection<TItem>? Selection;
    ElementReference PopoverReference;
    ElementReference TriggerReference;
    Expression<Func<object?>>? ValidationExpression;

    public ChoiceField()
        => ComponentReference = DotNetObjectReference.Create(this);

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public Func<TItem, string?> DisplayItem { get; set; } = GetDefaultDisplayItem();
    [Parameter, EditorRequired] public required Expression<Func<TContext, object?>> Expression { get; set; }
    [Parameter] public CollectionProviderDelegate<TItem>? Provider { get; set; }

    [JSInvokable]
    public Task OnPopoverToggled(bool open)
    {
        PopoverOpen = open;
        return InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Script.Attach(PopoverReference, ComponentReference);
        }
    }

    protected override void OnParametersSet()
    {
        if (Expression.GetPropertyOrDefault() is { CanRead: true } property)
        {
            if (Selection is { } prevSelection)
            {
                prevSelection.CollectionChanged -= OnSelectionChanged;
            }

            var selection = Selection = property.PropertyType.IsAssignableTo(typeof(IEnumerable<>).MakeGenericType([typeof(TItem)]))
                ? new MultipleSelection<TItem>()
                : new SingleSelection<TItem>();
            selection.CollectionChanged += OnSelectionChanged;
            Selection = selection;

            Title ??= property.Name.Humanize(LetterCasing.Title);
            if (Context is { } context)
            {
                var value = property.GetValue(context);
                if (value is TItem item)
                {
                    DisplayValue = DisplayItem(item);
                    selection.Activate(item);
                }
                else if (value is IEnumerable<TItem> items)
                {
                    DisplayValue = string.Join(", ", items.Select(DisplayItem));
                    items.ToArray().ForEach(selection.Activate);
                }
                else
                {
                    DisplayValue = null;
                }

                ValidationExpression = Expression.WithoutContextParameter(context);
            }
        }
    }

    async void OnSelectionChanged(object? sender, NotifyCollectionChangedEventArgs e) => await (Selection switch
    {
        { Cursor: { } cursor, Multiple: false } => UpdatePropertyValue(cursor),
        { Multiple: true } selection => UpdatePropertyValue(selection),
        _ => Task.CompletedTask
    });

    protected override void OnDisposed()
    {
        ComponentReference.Dispose();
        if (Selection is { } selection)
        {
            selection.CollectionChanged -= OnSelectionChanged;
        }
    }

    async Task HidePopover()
    {
        if (PopoverOpen)
        {
            await Script.HidePopover(PopoverReference);
        }
    }

    async Task ShowPopover()
    {
        if (!PopoverOpen)
        {
            TableVisible = true;
            await Script.ShowPopover(PopoverReference, TriggerReference);
        }
    }

    async Task UpdatePropertyValue(TItem item)
    {
        if (Expression.GetPropertyOrDefault() is { CanRead: true, CanWrite: true } property
            && Context is { } context
            && item?.Equals(property.GetValue(context)) is not true)
        {
            property.SetValue(context, item);
            DisplayValue = DisplayItem(item);

            try
            {
                await HidePopover();
            }
            catch (Exception ex)
            {
                await DispatchExceptionAsync(ex);
            }

            StateHasChanged();
        }
    }

    Task UpdatePropertyValue(IEnumerable<TItem> items)
    {
        if (Expression.GetPropertyOrDefault() is { } property && Context is { } context)
        {
            if (property.CanRead && property.PropertyType.IsAssignableTo(typeof(ICollection<>).MakeGenericType([typeof(TItem)])))
            {
                UpdateCollection((ICollection<TItem>)property.GetValue(context)!, items);
            }
            else if (property.CanWrite)
            {
                property.SetValue(context, items.ToArray());
            }

            DisplayValue = string.Join(", ", items.Select(DisplayItem));
            StateHasChanged();
        }

        return Task.CompletedTask;
    }

    ValueTask IAsyncDisposable.DisposeAsync()
        => Script.Detach(PopoverReference);

    static void UpdateCollection(ICollection<TItem> target, IEnumerable<TItem> source)
    {
        var originalTarget = target.ToArray();
        foreach (var item in originalTarget.Except(source))
        {
            target.Remove(item);
        }

        foreach (var item in source.Except(originalTarget))
        {
            target.Add(item);
        }
    }

    static Func<TItem, string?> GetDefaultDisplayItem()
    {
        if (typeof(TItem).GetCustomAttribute<DisplayColumnAttribute>() is { DisplayColumn: { Length: > 0 } displayColumn })
        {
            var property = typeof(TItem).GetProperty(displayColumn);
            return item => property?.GetValue(item) as string;
        }

        return item => item?.ToString();
    }
}
