@inherits Field<TContext>
@typeparam TContext where TContext : class
@typeparam TValue

@if (Visible)
{
    <div class="field">
        <label>@Title</label>
        <Focus Enabled="AutoFocus">
            <input @attributes="Attributes" @bind="DisplayValue" />
        </Focus>
        @if (ValidationExpression is { } validationExpression)
        {
            <ValidationMessage For="validationExpression" />
        }
    </div>
}

@code {
    string? DisplayValue;
    Expression<Func<TValue>>? ValidationExpression;

    [Parameter, EditorRequired] public required Expression<Func<TContext, TValue>> Expression { get; set; }

    void OnDisplayValueChanged()
    {
    }

    protected override void OnParametersSet()
    {
        if (Expression.GetPropertyOrDefault() is { CanRead: true } property)
        {
            Title ??= Expression.GetPropertyOrDefault()?.Name.Humanize(LetterCasing.Title);
            if (Context is { } context)
            {
                ValidationExpression = Expression.WithoutContextParameter(context);
            }
        }
    }
}
