@attribute [CascadingTypeParameter(nameof(TContext))]
@typeparam TContext

<div class="form">
    <CascadingValue Value="this" IsFixed>
        Context: @Context
        @ChildContent
    </CascadingValue>
</div>

@code {
    readonly List<IField<TContext>> Fields = [];
    TContext? Context;

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public Func<TContext, Task>? OnCommit { get; set; }
    [Parameter] public Func<TContext, Task>? OnDiscard { get; set; }
    [Parameter] public ValueProviderDelegate<TContext>? Provider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Provider is { } provider)
        {
            Context = await provider();
        }
    }

    internal void AddField(IField<TContext> field) => Fields.Add(field);
    internal void RemoveField(IField<TContext> field) => Fields.Remove(field);

    internal Task InvokeCommit() => OnCommit is { } onCommit && Context is { } context
        ? onCommit(context)
        : Task.CompletedTask;

    internal Task InvokeDiscard() => OnDiscard is { } onDiscard && Context is { } context
        ? onDiscard(context)
        : Task.CompletedTask;
}
