@attribute [CascadingTypeParameter(nameof(TContext))]
@typeparam TContext where TContext : notnull
@inherits Component

<div class="form">
    <EditForm Model="DisplayContext ?? new object()" OnValidSubmit="OnFormValidSubmit">
        <DataAnnotationsValidator />
        <CascadingValue Value="this" IsFixed>
            @ChildContent
        </CascadingValue>
    </EditForm>
</div>

@code {
    readonly List<Field<TContext>> Fields = [];

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public IAsyncValue<TContext>? Context { get; set; }
    [Parameter] public Func<TContext, Task>? OnCommit { get; set; }

    internal TContext? DisplayContext { get; private set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
        => firstRender ? LoadDisplayContext() : Task.CompletedTask;

    async Task LoadDisplayContext()
    {
        DisplayContext = Context is { } context ? await context.GetValue() : default;
        StateHasChanged();
    }

    Task OnFormValidSubmit(EditContext editContext)
        => OnCommit?.Invoke((TContext)editContext.Model) ?? Task.CompletedTask;

    internal void AddField(Field<TContext> field) => Fields.Add(field);
    internal void RemoveField(Field<TContext> field) => Fields.Remove(field);
}
