@attribute [CascadingTypeParameter(nameof(TContext))]
@typeparam TContext where TContext : class

<div class="form">
    <EditForm Model="Context ?? new object()" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />
        <CascadingValue Value="this" IsFixed>
            <CascadingValue Value="Context">
                @ChildContent
            </CascadingValue>
        </CascadingValue>
    </EditForm>
</div>

@code {
    readonly List<Field<TContext>> Fields = [];
    TContext? Context;

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public Func<TContext, Task>? OnCommit { get; set; }
    [Parameter] public ValueProviderDelegate<TContext>? Provider { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
        => firstRender ? LoadContext() : Task.CompletedTask;

    async Task LoadContext()
    {
        Context = Provider is { } provider ? await provider() : default;
        StateHasChanged();
    }

    Task SubmitForm() => OnCommit is { } onCommit && Context is { } context
        ? onCommit(context)
        : Task.CompletedTask;

    internal void AddField(Field<TContext> field) => Fields.Add(field);
    internal void RemoveField(Field<TContext> field) => Fields.Remove(field);
}
