.form {
    align-items: start;
    display: flex;
    flex-direction: column;
}

    .form > ::deep form {
        display: flex;
        flex-direction: column;
    }

    .form ::deep .field {
        display: flex;
        flex-direction: column;
    }
