@inherits Component

<div class="menu-item @MenuItemClass">
    <button type="button" disabled="@(!Pressed.HasDelegate)" @onclick="OnButtonClicked">@Title</button>
    @if (Items is { } items)
    {
        <button @onclick="ShowNestedMenu"><span>&raquo;</span></button>
        <Menu Title="@(HideMenuTitle ? null : Title)" @ref="NestedMenu">
            <CascadingValue Value="NestedMenu" IsFixed>
                <CascadingValue Name="DefaultRenderer" Value="RenderDefault()" IsFixed>
                    @items
                </CascadingValue>
            </CascadingValue>
        </Menu>
    }
</div>

@code {
    Menu? NestedMenu;

    [CascadingParameter(Name = nameof(Loading))] bool Loading { get; set; }
    [CascadingParameter] Menu? Menu { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool HideMenuTitle { get; set; }
    [Parameter] public RenderFragment? Items { get; set; }
    [Parameter] public bool Persistent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Pressed { get; set; }
    [Parameter] public string? Title { get; set; }

    ClassList MenuItemClass => ClassList.Create("loading", Loading);

    protected override void OnParametersSet()
        => Items ??= ChildContent;

    Task ShowNestedMenu(MouseEventArgs e)
       => NestedMenu?.Show(e.ClientX - e.OffsetX, e.ClientY - e.OffsetY) ?? Task.CompletedTask;

    async Task OnButtonClicked(MouseEventArgs e)
    {
        await Pressed.InvokeAsync(e);
        if (!Persistent && Menu is { } menu)
        {
            await menu.Hide();
        }
    }

    static RenderFragment RenderDefault() => __builder =>
    {
        <MenuItem />
    };
}
