@inject MenuScript Script
@inherits Component
@implements IInvoke

<div class="menu" popover style="@MenuStyle" @oncontextmenu:preventDefault="true" @ref="MenuReference">
    <div class="menu-items">
        @if (Title is { Length: > 0 } title)
        {
            <label>@title</label>
        }

        <CascadingValue Name="Root" Value="this" IsFixed>
            <CascadingValue Value="this" IsFixed>
                @Items
            </CascadingValue>
        </CascadingValue>
    </div>
</div>

@code {
    Func<CancellationToken, Task>? PopoverOpened;
    ElementReference MenuReference;
    string? PositionX;
    string? PositionY;

    readonly DotNetObjectReference<Menu> ComponentReference;
    public Menu()
        => ComponentReference = DotNetObjectReference.Create(this);

    [CascadingParameter] Menu? Parent { get; set; }
    [CascadingParameter] Button? Trigger { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Items { get; set; }
    [Parameter] public string? Title { get; set; }

    StyleList MenuStyle => StyleList.Create("--pos-x", PositionX)
                                    .Add("--pos-y", PositionY);

    public async Task Show(double positionX, double positionY)
    {
        PositionX = $"{positionX}px";
        PositionY = $"{positionY}px";
        StateHasChanged();

        await Task.Yield();
        await Script.ShowPopover(MenuReference, trigger: null);
    }

    internal async Task Show(ElementReference trigger, string? dx)
    {
        PositionX = $"calc(anchor(end){dx})";
        PositionY = $"calc(anchor(start))";
        StateHasChanged();

        await Task.Yield();
        await Script.ShowPopover(MenuReference, trigger);
    }

    public async Task Hide()
    {
        if (Parent is { } parent)
        {
            await parent.Hide();
        }
        else
        {
            await Script.HidePopover(MenuReference);
        }
    }

    [JSInvokable]
    public async Task OnPopoverToggled(bool open)
    {
        if (open && PopoverOpened is { } opened)
        {
            await opened(ComponentLife.Token);
        }
    }

    void IInvoke.SetHandler(Func<CancellationToken, Task>? handler)
        => PopoverOpened = handler;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        Trigger?.SetHandler(handler: null);
        await base.SetParametersAsync(parameters);
        Trigger?.SetHandler(async ct =>
        {
            if (Trigger is { Element: { } triggerReference })
            {
                var dx = await Script.GetPaddingRight(MenuReference) is { Length: > 0 } padding ? $" + {padding}" : null;
                if (dx is { Length: > 0 } && Parent is not null)
                {
                    dx = $"{dx}{dx}";
                }

                await Show(triggerReference, dx);
            }
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Script.Attach(MenuReference, ComponentReference);
        }
    }

    protected override void OnParametersSet()
        => Items ??= ChildContent;

    protected override async ValueTask OnDisposedAsync()
    {
        await Script.Detach(MenuReference);
        Trigger?.SetHandler(handler: null);
        ComponentReference.Dispose();
    }
}
