@inject MenuScript Script
@inherits Component
@implements IInvoke

<div class="menu" popover style="@MenuStyle" @oncontextmenu:preventDefault="true" @ref="MenuReference">
    <div class="menu-items">
        @if (Title is { Length: > 0 } title)
        {
            <label>@title</label>
        }

        <CascadingValue Name="Root" Value="this" IsFixed>
            <CascadingValue Value="this" IsFixed>
                @Items
            </CascadingValue>
        </CascadingValue>
    </div>
</div>

@code {
    Func<CancellationToken, Task>? PopoverOpened;
    ElementReference MenuReference;
    double PositionX;
    double PositionY;

    readonly DotNetObjectReference<Menu> ComponentReference;
    public Menu()
        => ComponentReference = DotNetObjectReference.Create(this);

    [CascadingParameter] Menu? Parent { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Items { get; set; }
    [Parameter] public string? Title { get; set; }

    StyleList MenuStyle => StyleList.Create("--pos-x", $"{PositionX}px")
                                    .Add("--pos-y", $"{PositionY}px");

    public async Task Show(double positionX, double positionY)
    {
        PositionX = positionX;
        PositionY = positionY;

        await Task.Yield();
        await Script.ShowPopover(MenuReference);
    }

    public async Task Hide()
    {
        if (Parent is { } parent)
        {
            await parent.Hide();
        }
        else
        {
            await Script.HidePopover(MenuReference);
        }
    }

    [JSInvokable]
    public async Task OnPopoverToggled(bool open)
    {
        if (open && PopoverOpened is { } opened)
        {
            await opened(ComponentLife.Token);
        }
    }

    void IInvoke.SetHandler(Func<CancellationToken, Task>? handler)
        => PopoverOpened = handler;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Script.Attach(MenuReference, ComponentReference);
        }
    }

    protected override void OnParametersSet()
        => Items ??= ChildContent;

    protected override async ValueTask OnDisposedAsync()
    {
        await Script.Detach(MenuReference);
        ComponentReference.Dispose();
    }
}
