<div class="pager">
    <div class="content">
        <CascadingValue Value="Page">
            @ChildContent
        </CascadingValue>
    </div>

    <div class="commands">
        <button @onclick="PreviousPage">Previous page</button>
        <button @onclick="NextPage">Next page</button>
    </div>
</div>

@code {
    Page Page = new(Skip: 0, Take: 0);

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public int PageSize { get; set; } = 20;

    protected override void OnParametersSet()
        => Page = new Page(Skip: Page.Skip, Take: PageSize);

    void PreviousPage()
        => Page = Page with { Skip = Math.Max(0, Page.Skip - PageSize) };

    void NextPage()
        => Page = Page with { Skip = Page.Skip + PageSize };
}
