.table {
    display: table;
}

.table-column {
    display: table-column;
}

.table-header {
    display: table-header-group;
}

.table-body {
    display: table-row-group;
}

    .table-body.select > .table-row {
        cursor: pointer;
    }

        .table-body.select > .table-row.active {
            background-color: #ddd;
        }

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    white-space: nowrap;
}
