.table {
    display: table;
    width: 100%;
}

.table-column {
    display: table-column;
}

    .table-column.fill {
        width: 100%;
    }

.table-header {
    display: table-header-group;
}

.table-body {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    white-space: nowrap;
}

.table-empty {
    white-space: nowrap;
    width: 0;
}
