@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TItem

<div class="table">
    <CascadingValue Value="this" IsFixed>
        @ChildContent
    </CascadingValue>

    <Defer>
        @foreach (var column in Columns)
        {
            <div class="table-column" @key="column" />
        }

        <div class="table-header">
            @foreach (var column in Columns)
            {
                <div class="table-cell" @key="column">
                    @column.Title
                </div>
            }
        </div>

        <div class="table-body @GetBodyClass()">
            @foreach (var item in Items)
            {
                <div class="table-row @GetRowClass(item)" @onclick="() => SelectRow(item)" @key="item">
                    @foreach (var column in Columns)
                    {
                        <div class="table-cell" @key="column">
                            @column.RenderCell(item)
                        </div>
                    }
                </div>
            }
        </div>
    </Defer>
</div>

@code {
    readonly List<Column<TItem>> Columns = [];
    TItem[] Items = [];
    bool Rendered;

    [CascadingParameter] Page? Page { get; set; }
    [CascadingParameter] ISelection<TItem>? Selection { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public CollectionProviderDelegate<TItem>? Provider { get; set; }

    string? GetBodyClass() => Selection is { } selection ? $"select {(selection.Multiple ? "multiple" : "single")}" : null;
    string? GetRowClass(TItem item) => Selection?.IsActive(item) is true ? "active" : null;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Rendered = true;
        return firstRender ? LoadItems() : Task.CompletedTask;
    }

    protected override void OnParametersSet()
        => ChildContent ??= CreateDefaultChildContent();

    async Task LoadItems()
    {
        Items = [];
        Items = Provider is { } provider ? await provider(new(Filter: null, Sort: null, Page)) : [];
        StateHasChanged();
    }

    void SelectRow(TItem item)
    {
        if (Selection is { Multiple: true } multipleSelection)
        {
            multipleSelection.Toggle(item);
        }
        else if (Selection is { Multiple: false } singleSelection)
        {
            singleSelection.Activate(item);
        }
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        var page = Page;
        await base.SetParametersAsync(parameters);
        if (Rendered && Page?.Equals(page) is not true)
        {
            await LoadItems();
        }
    }

    internal void AddColumn(Column<TItem> column) => Columns.Add(column);
    internal void RemoveColumn(Column<TItem> column) => Columns.Remove(column);

    static Expression<Func<TItem, TValue>> CreateColumnExpression<TValue>(string propertyName)
    {
        var parameter = Expression.Parameter(typeof(TItem), "item");
        return Expression.Lambda<Func<TItem, TValue>>(Expression.Property(parameter, propertyName), parameter);
    }

    static RenderFragment CreateDefaultChildContent() => builder =>
    {
        var sequence = 0;

        var properties = typeof(TItem).GetProperties();
        foreach (var property in properties)
        {
            builder.OpenComponent(sequence++, typeof(ExpressionColumn<,>).MakeGenericType(typeof(TItem), property.PropertyType));
            var createColumnExpressionGenericMethod = typeof(Table<TItem>).GetMethod(nameof(CreateColumnExpression),
                                                                                     genericParameterCount: 1,
                                                                                     BindingFlags.Static | BindingFlags.NonPublic,
                                                                                     [typeof(string)])!;

            var createColumnExpressionMethod = createColumnExpressionGenericMethod.MakeGenericMethod(property.PropertyType);
            builder.AddComponentParameter(sequence++,
                                          nameof(ExpressionColumn<TItem, object?>.Expression),
                                          createColumnExpressionMethod.Invoke(obj: null, [property.Name]));

            builder.CloseComponent();
        }
    };
}
