@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TItem

<div class="table">
    <CascadingValue Value="this" IsFixed>
        @ChildContent
    </CascadingValue>

    <Defer>
        @foreach (var column in Columns)
        {
            <div class="table-column" @key="column" />
        }

        <div class="table-header">
            @foreach (var column in Columns)
            {
                <div class="table-cell" @key="column">
                    @column.Title
                </div>
            }
        </div>

        <div class="table-body">
            @foreach (var item in Items)
            {
                <div class="table-row" @key="item">
                    @foreach (var column in Columns)
                    {
                        <div class="table-cell" @key="column">
                            @column.RenderCell(item)
                        </div>
                    }
                </div>
            }
        </div>
    </Defer>
</div>

@code {
    readonly List<Column<TItem>> Columns = [];
    readonly List<TItem> Items = [];

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public CollectionProviderDelegate<TItem>? Provider { get; set; }

    protected override async Task OnInitializedAsync()
        => Items.AddRange(Provider is { } provider ? await provider(new()) : []);

    internal void AddColumn(Column<TItem> column) => Columns.Add(column);
    internal void RemoveColumn(Column<TItem> column) => Columns.Remove(column);
}
