@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TItem

<div class="table">
    <CascadingValue Value="this" IsFixed>
        @ChildContent
    </CascadingValue>

    <Defer>
        @foreach (var column in Columns)
        {
            <div class="table-column" @key="column" />
        }

        <div class="table-header">
            @foreach (var column in Columns)
            {
                <div class="table-cell" @key="column">
                    @column.Title
                </div>
            }
        </div>

        <div class="table-body @GetBodyClass()">
            @foreach (var item in Items)
            {
                <div class="table-row @GetRowClass(item)" @onclick="() => SelectRow(item)" @key="item">
                    @foreach (var column in Columns)
                    {
                        <div class="table-cell" @key="column">
                            @column.RenderCell(item)
                        </div>
                    }
                </div>
            }
        </div>
    </Defer>
</div>

@code {
    readonly List<Column<TItem>> Columns = [];
    TItem[] Items = [];
    bool Rendered;

    [CascadingParameter] Page? Page { get; set; }
    [CascadingParameter] ISelection<TItem>? Selection { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public CollectionProviderDelegate<TItem>? Provider { get; set; }

    string? GetBodyClass() => Selection is not null ? "select" : null;
    string? GetRowClass(TItem item) => Selection?.IsActive(item) is true ? "active" : null;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Rendered = true;
        return firstRender ? LoadItems() : Task.CompletedTask;
    }

    async Task LoadItems()
    {
        Items = [];
        Items = Provider is { } provider ? await provider(new(Page)) : [];
        StateHasChanged();
    }

    void SelectRow(TItem item)
        => Selection?.Activate(item);

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        var page = Page;
        await base.SetParametersAsync(parameters);
        if (Rendered && Page?.Equals(page) is not true)
        {
            await LoadItems();
        }
    }

    internal void AddColumn(Column<TItem> column) => Columns.Add(column);
    internal void RemoveColumn(Column<TItem> column) => Columns.Remove(column);
}
