@inherits Field<TContext>
@typeparam TContext where TContext : class
@typeparam TValue

@if (Visible)
{
    <div class="field">
        <label>@Title</label>
        <Focus Enabled="AutoFocus">
            <InputText AdditionalAttributes="Attributes" @bind-Value="DisplayValue" @bind-Value:after="OnDisplayValueChanged" />
        </Focus>
        @if (ValidationExpression is { } validationExpression)
        {
            <ValidationMessage For="validationExpression" />
        }
    </div>
}

@code {
    string? DisplayValue;
    Expression<Func<TValue>>? ValidationExpression;

    [Parameter, EditorRequired] public required Expression<Func<TContext, TValue>> Expression { get; set; }

    void OnDisplayValueChanged()
    {
        if (Expression.GetPropertyOrDefault() is { CanWrite: true } property && Context is { } context)
        {
            property.SetValue(context, Convert.ChangeType(DisplayValue, property.PropertyType));
        }
    }

    protected override void OnParametersSet()
    {
        if (Expression.GetPropertyOrDefault() is { CanRead: true } property)
        {
            Title ??= property.Name.Humanize(LetterCasing.Title);
            if (Context is { } context)
            {
                DisplayValue = Convert.ChangeType(property.GetValue(context), typeof(string)) as string;
                ValidationExpression = Expression.WithoutContextParameter(context);
            }
        }
    }
}
