@typeparam TContext where TContext : notnull
@inherits Field<TContext>

@if (Visible)
{
    <div class="field text">
        @RenderLabel()
        <div class="field-value">
            <InputText AdditionalAttributes="Attributes" @bind-Value="EditorValue" @ref="EditorReference" />
        </div>

        @if (Form is { DisplayContext: { } context })
        {
            @RenderValidationMessage(context)
        }
    </div>
}

@code {
    InputText? EditorReference;

    string? EditorValue
    {
        get => Convert.ChangeType(Value, typeof(string)) as string;
        set => Value = ValueProperty is { PropertyType: { } propertyType } ? Convert.ChangeType(value, propertyType) : value;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && AutoFocus && EditorReference is { Element: { } editorReference })
        {
            await editorReference.FocusAsync();
        }
    }
}
