<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Foundation.Demo.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />

    <script>
        var theme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", theme);

        const target = document.documentElement;
        const observer = new MutationObserver(() => {
            theme = localStorage.getItem("theme") || "light";
            if (target.getAttribute("data-theme") !== theme) {
                target.setAttribute("data-theme", theme);
            }
        });
        observer.observe(target, { attributes: true });

        function toggleTheme() {
            theme = theme == "light" ? "dark" : "light";
            document.documentElement.setAttribute("data-theme", theme);
            localStorage.setItem("theme", theme);
        }
    </script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
