@inherits Component

<div class="demo">
    <h3>
        @Title
        @if (Note is { Length: > 0 } note)
        {
            <sup>@note</sup>
        }
    </h3>
    <div class="demo-segments">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Title { get; set; }

    [Parameter] public bool New { get; set; }
    [Parameter] public bool UnderConstruction { get; set; }

    string Note => string.Join(", ", new[]
    {
        New ? "new" : null,
        UnderConstruction ? "under construction" : null
    }.OfType<string>());
}
