@rendermode InteractiveServer

<Table Items="Books">
    <Column Expression="book => book.Id" />
    <Column Expression="book => book.Title" />
    <Column Expression="book => book.AuthorId" />
    <Column Expression="book => book.PublicationDate" />
</Table>

@code {
    readonly IAsyncCollection<Book> Books = AsyncCollection.Create(async query =>
    {
        await Task.Delay(1_000);
        return BookRepository.CreateRange(query.Skip ?? 0, query.Take ?? 10);
    });
}
